body, html {
    padding: 0;
    margin: 0;
}

header {
    background-color: darkblue;    
    height: 60px;
    grid-area: header;
}

nav {
    background-color: coral;
    grid-area: menu;
}

footer {
    background-color: gray;
    height: 80px;
    grid-area: footer;
}

article {
    height: 240px;
    background-color: red;
    grid-area: content;
}
#container {
    margin: 0 auto;
    width: 1200px;
    background-color: darkviolet;
    display: grid;
    grid-template-areas: 
    'header header header header'
    'menu content conten content'
    'footer footer footer footer'
    ;
}

