html {
    scroll-behavior: smooth;
}

body, html {
    padding: 0;
    margin: 0;
}

header {
    background-color: darkblue;    
    height: 60px;
}

section {
    background-color: green;
    display: flex;
    /* flex-direction: column-reverse; */
}

nav {
    width: 25%;
    background-color: coral;
}

article {
    width: 75%;
    background-color: red;
    height: 240px;
}
footer {
    background-color: gray;
    height: 80px;
}

#container {
    margin: 0 auto;
    width: 1200px;
    background-color: darkviolet;
}

